<!DOCTYPE html>
<%- contentFor('secao') %>
<table>
	<tr>
		<th>Usuario</th>
		<th>Validar</th>
		<th>Tornar Adm</th>
	</tr>
	<% var cont = 0 %>
	
	<tr>
		<%# inserir dados %>
		<td><%= nomes[cont] %></td><td>Bbbbbbb</td><td>Ccccc</td>
	</tr>

</table>


<%- contentFor('script') %>