


<%- contentFor('secao') %>
<% if(ultimaReceita != 0) {%>

<% } %>

<% var count = 0; %>
<%= dadosReceitas %> 
<% for( ;count< receitas.length ; count++) { %>
  <% if(receitas[count] != ultimaReceita) { %>
		
	  <div class="recipe_display">
	    <h2 id="nome_receita">
	      receita <%- count+1 %>
	    </h2>
    	<% path_da_imagem = "/imagens/receitas/"+receitas[count]+".jpg" %>
    	<img src="<%-path_da_imagem%>">
	    <div>

	    </div>	
	  </div>
  <% } %>
<% } %>

</div>