

<%- nomesReceitas %>
<%- contentFor('secao') %>
<% if(ultimaReceita != 0) {%>

<% } %>

<% for( var count = 0;count< receitas.length -1 ; count++) { %>
  <% if(receitas[count] != ultimaReceita) { %>
		
	  <div class="recipe_display">
	    <h2 id="nome_receita">
	      <%= dadosReceitas[count] %>
	    </h2>
    	<% path_da_imagem = "/imagens/receitas/"+receitas[count]+".jpg" %>
    	<img src="<%-path_da_imagem%>">
	    <div>

	    </div>	
	  </div>
  <% } %>
<% } %>

</div>